fastapi
python-dotenv
langchain
langchain-openai
langchain-anthropic
pydantic
SQLAlchemy
sqlalchemy
pwdlib
python-jose[cryptography]
uvicorn
psycopg2-binary
pydantic[email]
pwdlib[argon2]
python-multipart